@include desktop {
	.about {
		&__popup {
		height: 320px;
		}
	}
}

@include laptop {
	.about {
		&__flex {
			min-height: 300px;
		}

		&__content {
			padding-top: 60px;
		}

		&__title {
			font-size: 30px;
		}

		&__popup {
			height: 250px;
		}
	}
}

@include tablet {
	.about {
		&__prev-title {
			font-size: 46px;
		}

		&__flex {
			min-height: 250px;
		}

		&__content {
			p {
				padding-left: 0;
			}
		}

		&__popup {
			height: 200px;
		}
	}
}

@include mobile {
	.about {
		&__prev-title {
			font-size: 35px;
		}

		&__flex {
			min-height: 200px;
		}

		&__title {
			font-size: 24px;
		}

		&__popup {
			height: 150px;
		}
	}
}