@font-face {
	font-family: 'Open Sans';
	src: url(./../fonts/open_sans/static/OpenSans/OpenSans-SemiBold.ttf) format(truetype);
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: 'Open Sans';
	src: url(./../fonts/open_sans/static/OpenSans/OpenSans-Regular.ttf) format(truetype);
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Open Sans';
	src: url(./../fonts/open_sans/static/OpenSans/OpenSans-LightItalic.ttf) format(truetype);
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'Montserrat';
	src: url(./../fonts/montserrat/static/Montserrat-Bold.ttf) format(truetype);
	font-style: normal;
	font-weight: 700;
}