// TEXT
$text-default: #5a5a5a;
$text-gallery-one: #707070;
$text-blockquote: #363838;
// TITLES
$title-default: #363838;

// UNDERLINE-TITLE
$underline-title: #979797;

// BUTTONS
$btn-line: #000000;
$btn-line-2: #363838;
$btn-text-1: #fffff0;
$btn-text-2: #8F8D8D;
$btn-text-3: #363838;

// LINKS
$nav-link: rgba(54, 56, 56, 0.9033);
$link-1: #a1a1a1;
$link-2: #363838;
$link-3: #707070;
$link-4: #5a5a5a;
$link-5: #8F8D8D;

// BACKGROUNDS
$bg-1: #ffffff;
$bg-2: #dfdfdf;
$bg-3: #363838;
$bg-4: #707070;

// BORDERS
$input-brd: #dfdfdf;
$input-brd-2: rgba(#363838, .7);
$aside-link-brd: rgba(#454647, .5);

// Placeholder
$ph-1: #a1a1a1;


// BREAKPOINTS
$breakpoint_xxxl: 1380px;
$breakpoint_xxl: 1200px;
$breakpoint_xl: 1024px;
$breakpoint_md: 767px;
$breakpoint_sm: 576px;
